name: format
on: [push, pull_request]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: DoozyX/clang-format-lint-action@v0.15
      with:
        source: '.'
        extensions: 'c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx,i,ixx,ipp,i++'
        clangFormatVersion: 14
        inplace: False
 
  dotnet-format-checking:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        
    - name: Check Logic
      run: dotnet restore "./logic/logic.sln" && dotnet format "./logic/logic.sln" --severity error --no-restore --verify-no-changes
      
    - name: Check Installer
      run: dotnet restore "./installer/installer.sln" && dotnet format "./installer/installer.sln" --severity error --no-restore --verify-no-changes
      
    - name: Check Launcher
      run: dotnet restore "./launcher/launcher.sln" && dotnet format "./launcher/launcher.sln" --severity error --no-restore --verify-no-changes
      
    - name: Check Playback
      run: dotnet restore "./playback/playback.sln" && dotnet format "./playback/playback.sln" --severity error --no-restore --verify-no-changes
